[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
sqlalchemy = "==1.4.0b1"
pyjwt = "*"
aiohttp-swagger = "*"
dependency-injector = "*"
pytest-asyncio = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
